/* Estilos generales */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b8c789;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.text-container {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.text {
  font-size: 40px;
  color: red;
  margin-bottom: 20px;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
  .title {
    font-size: 80px;
  }

  .login-container {
    max-width: 600px;
  }

  .login-container h2 {
    font-size: 40px;
  }

  .login-container button {
    padding: 20px;
    font-size: 18px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 991px) {
  .title {
    font-size: 60px;
  }

  .login-container {
    max-width: 400px;
  }

  .login-container h2 {
    font-size: 30px;
  }

  .login-container button {
    padding: 15px;
    font-size: 16px;
  }
}

/* Estilos para pantallas pequeñas (celulares) */
@media screen and (max-width: 576px) {
  .title {
    font-size: 40px;
  }

  .login-container {
    max-width: 300px;
    height: auto;
  }

  .login-container h2 {
    font-size: 20px;
  }

  .login-container button {
    padding: 10px;
    font-size: 14px;
  }
}
